<div id="<%= dom_id post %>">
  <p class="title is-size-1 has-text-centered mt-4">
    <%= post.title %>
  </p>
  
  

  <% if post.image.present? %>
    <%= image_tag(url_for(post.image),class:"post_img") %>
  <% end %>

  <div class="is-size-4 p-4 body card is-shadowless">
    <p><%= post.body %></p>
    <p class="ml-2 creator_footer">Author:
      <%= @post.account.username %>
    </p>
  </div>

</div>
